<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css"
    rel="stylesheet"
/>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.css">
    <title>Document</title>
</head>
<style>
    menu a{
        color: white;
    }
</style>
<body>

    <nav style="height: 10%;width:100%;;position:fixed; display:flex;align-items:center; justify-content:space-between;padding:0px 20px;color:white;z-index:7">
        <div id="logo"><h1 style="font-size: 30px;"> <span> InvestED.</span> </h1></div>
        <menu style="display: flex; align-items:center; justify-content:space-between;gap:40px">
           <a href="/"><h4>Home</h4></a> 
          <a href="/courses"><h4>Courses</h4></a>  
         <a href="/article"> <h4>Articles</h4></a>
       <a href="">     <h4>Profile</h4></a>
        </menu>

        <div id="logout">
            <% if (flag === 1) { %>
                <a href="/register">
                  <button style="padding: 10px 20px;border-radius:10px;font-family:gilroy;background:#40A2E3;color:white">
                    SignIN
                  </button>
                </a>
              <% } else { %>
                <a href="/logout">
                  <button style="padding: 10px 20px;border-radius:10px;font-family:gilroy;background:#40A2E3;color:white">
                    Logout
                  </button>
                </a>
              <% } %>
                
            
            
        
        </div>

    </nav>

    <div id="main-2">
    
      <div id="page1" style="min-height: 100vh;width:100%">

        <div id="profile" style="height: 50vh;width:100%;;display:flex;align-items:center; background:#40A2E3;justify-content:center;flex-direction:column;">
                <div style="width: 100px; height:100px;;border-radius:50px;border:1px solid #40A2E3;margin-top:55px; ;position:relative" >
                    <div  style="width: 100px; height:90px;border-radius:50px;overflow:hidden">
                    
                        <img src="/images/uploads/<%= user.profile %>" alt="" style="height: 100%;width:100%;object-fit:cover;">
                    </div>
        
                    <div id="pen" style="position:absolute; height:25px; width:25px ;background:white;border:2px dashed black;top:70%;right:0%;border-radius: 50px;;display:flex ;align-items:center;justify-content:center" > <i class="ri-pencil-fill"></i></div>
                </div>
                <form action="por-img" method="post" enctype="multipart/form-data">
                    <input type="file" hidden id="img" name="img">
                     <input type="submit" value="Submit" style="padding: 5px 15px;border-radius:10px;font-family:gilroy;background:#40A2E3;color:white; margin-top:0px">
                </form>
                <h3 style="color: white;">@<%=user.username%></h3>
                <h5 style="color :white"><%=user.name%></h5>
        
               <a href="/add">
                <button style="padding: 10px 30px;border-radius:10px;font-family:gilroy;background:#40A2E3;color:white; margin-top:10px">Add Post</button>
               </a>
               
         </div>
         <div id="enroll" style="height: 25vh;width:100%;;padding: 30px">
          <div>
            <h2 style="text-transform:capitalize;font-size:40px;color:white;background:#40A2E3;padding:10px;width:500px;border-radius:10px;display:flex;align-items:center;justify-content:center"> enrolled course<i class="ri-arrow-right-double-fill"></i></h3>
            
          </div>
            <div style="display: flex; align-items:center;justify-content:start;gap:20px;text-align:center;margin-top:10px">
              <h3>Financial Management</h3>
              <h3>Economic Architecture</h3>
              <h3>Basics of Trading </h3>
            </div>
         </div>
         <hr style="width: 95%;">
    <div id= "post" style="min-height:100vh;padding:120px;position:relative" >
      <h1 style="font-size: 3vw;text-transform:capitalize"> your post<i class="ri-arrow-right-double-fill"></i></h1>
      

<% if (user.post.length === 0){%>
   <h1 style="font-size:6vw;position:absolute;top:50%;left:50%;transform:translate(-50%,-50%)">No Post</h1>
  
<%}%>

      <% user.post.forEach(function(val){ %>


        <div style="width:60%;;border:1px solid black;padding:50px 40px;border-radius:30px;margin-top:20px ">
            
          <div style="display: flex;align-items:center;gap:3px">
            <div style="height: 30px ;width:30px; background:grey; border-radius:50px;overflow:hidden">
     
              <img src="/images/uploads/<%= user.profile %>" style="height: 100%;width:100%;object-fit:cover" alt="">
            </div>
            <h3><%= user.username %></h3>
          </div>

              <h1 style="font-size:3vw"><%= val.title %></h1>
              <pre style="white-space: pre-wrap; font-family:gilroy"><%= val.discription %></pre>
             <div style="display: flex;align-items:center;justify-content:center;border:2px soild grey;">
              <% if (val.post !== null) { %>
                <img src="images/uploads/<%= val.post %>" alt="" style="height: 60%; width: 70%; margin-top: 20px; border-radius: 30px;">
              <% } %>
              
             </div>

             <div id="button" style="display: flex; align-items:center;justify-content:center;gap:20px; margin-top:20px" >
              <button style="padding: 10px 20px;border-radius:10px;font-family:gilroy;background:#40A2E3;color:white"> 1 likes <i class="ri-heart-line"></i> </button>
              <button style="padding: 10px 20px;border-radius:10px;font-family:gilroy;background:#40A2E3;color:white"> share <i class="ri-share-forward-line"></i> </button>
          </div>

        </div>


    <% }) %>    
      


    </div>



      </div>

    </div>

  

</body>
<script src="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js" integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script
src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js"
integrity="sha512-onMTRKJBKz8M1TnqqDuGBlowlH0ohFzMXYRNebz+yOcc5TQr/zAKsthzhuv0hiyUKEiQEQXEynnXCvNTOk50dg=="
crossorigin="anonymous"
referrerpolicy="no-referrer"
></script>

<script>
  var img = document.querySelector("#img");
  var pen = document.querySelector("#pen");
  
  pen.addEventListener("click",function()
  {
      img.click();
  })
  const locoScroll = new LocomotiveScroll({
    el: document.querySelector("#main-2"),
    smooth: true
  });
  
  locoScroll.on("scroll", ScrollTrigger.update);
    
  // Setup ScrollTrigger to use LocomotiveScroll as proxy
  ScrollTrigger.scrollerProxy("#main", {
      scrollTop(value) {
          return arguments.length ? locoScroll.scrollTo(value, 0, 0) : locoScroll.scroll.instance.scroll.y;
      },
      getBoundingClientRect() {
          return { top: 0, left: 0, width: window.innerWidth, height: window.innerHeight };
      },
      pinType: document.querySelector("#main").style.transform ? "transform" : "fixed"
  });
  
  // Refresh ScrollTrigger and LocomotiveScroll on window updates
  ScrollTrigger.addEventListener("refresh", () => locoScroll.update());
  ScrollTrigger.refresh();


  gsap.to('nav', {
    scrollTrigger: {
        trigger: "#enroll", // The section after which the nav changes color
        start: "top top",   // Start the animation when the top of #enroll hits the top of the viewport
        scroller: "#main-2", // Scroller element handled by Locomotive Scroll
        scrub: 1             // Smooth scrubbing
    },
    backgroundColor: "#40A2E3", // Change to this color
    duration: 0.2 // Duration of the animation
});
  
  
  </script>
</html>